.wrapper-compare-search{
    width: 100%;
    display: block;
    padding-left: 10%;
    margin-left: 23%;
}
.wrapper-compare{
    width: 96rem;
    margin: 0 auto;
    margin-top: -15rem;
}
.wrapper-compare h2{
    font-size: 10rem;
    text-align: center;
}
.compare-bloc{
    width: 33%;
    padding:2.5%;
    float: left;
}
.compare-bloc h3{
    font-size: 4rem;
    text-align: center;
}
searchbar{
    background-color: #c7c7c7;
    border-radius: 5px;
}
.wrapper-compare-user{
    padding: 1rem;
}
.wrapper-compare-user img{
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 40px;
    display: block;
}
.wrapper-compare-user h4{
    text-align: center;
    font-size: 3rem;
}
.wrapper-compare-values{
    width: 100%;
    display: block;
}
.compare-item{
    width: 100%;
    font-size: 3rem;
    border-bottom: 2px solid #c7c7c7;
}
.compare-item h4{
    font-size: 3rem;
    width: 33%;
    float: left;
}
.compare-item ul{
    width: 66%;
    float: left;
}
.compare-item li{
    padding: 1rem 0 1rem 0;
    float: left;
    width: 48%;
    text-align: center;
}
.compare-item li + li {
    border-left: 1px dashed #c7c7c7;
}
.compare-winner{
    color: #588c01;
}
.msg{
    margin-top: 15rem;
    margin-bottom: 15rem;
    color: #c9c9c9;
    font-size: 10rem;
}

@media(max-width: 960px) {
    .wrapper-compare{
        width: 100%;
    }
}
@media(max-width: 700px)  {
    .wrapper-compare-search{
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
    .compare-bloc{
        width: 50%;

    }
    .compare-item h4{
        width: 100%;
        display: block;
        border-bottom: 2px solid #c7c7c7;
    }
    .compare-item ul{
        width: 100%;
    }
}