<div class="wrapper-landing">
    <h2>Welcome to Overstats</h2>
    <div class="landing-content clearfix">
        <div class="block clearfix">
            <h3>Check your profile</h3>
            <img src="/public/img/profile.PNG" alt="">
        </div>
        <div class="block clearfix">
            <img src="/public/img/compare.PNG" alt="">
            <h3>Compare to other players</h3>
        </div>
        <div class="block clearfix">
            <h3>Use the Api for third-party applications</h3>
            <img src="/public/img/api.PNG" alt="">
        </div>
    </div>
    
</div>