header{
    background-color: #222;
    margin-top: -2rem;
    padding: 2rem;
    color:white;
    height: 10rem;
}
header a {
    color: white;
    float: left;
}
header h1{
    width: 20rem;
}
.desktop{
     padding: 1.5rem;
     float: right;
     font-size: 3rem;
     font-family: "Overwatch";
     width: 50vw;
 }
.desktop li {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}
.desktop a {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.tablet{
    display: none;
}
.search{
    max-height: 4rem;
    float: right;
    padding: 2rem;
    width: 30%;
    display: inline-block;
    margin:0rem 0rem 0 0;
}

.banner{
    width:100%;
    height:60vh;
    overflow: hidden;
}
.banner img{
    margin-top: -10vh;
    width: 100vw;
}
footer{
     font-size: 1.6rem;
     position: fixed;
     bottom: 1rem;
     right: 3rem;
 }
footer a{
    color: #222222;
}
@media(max-width: 1885px){
    .banner{
        height: 30vh;
    }
}
@media(max-width: 1096px) {
    header{
        height: auto;
    }
    .desktop{
        padding: 1rem;
        width: 100%;
    }
    .desktop li{
        width: 23%;
    }
    .search{
        width: 50%;
    }
}


@media(max-width: 700px) {
    header{
        height: auto;
    }
    header .title{

        width: 100%;
        text-align: center;
    }
    header .title h1{
        width: 100%;
        font-size: 4rem;
    }
    .desktop{
        width: 100%;
        font-size: 3rem;
    }
    .desktop li {
        width: 48%;
        text-align: center;
    }
    .desktop li > a{
        text-align: center;
    }
    .search{
        padding: 1rem;
        width: 100%;
    }
    .banner{
        height: auto;
    }
}
