<div class="wrapper-outer">
    <header class="col-sm-12">
        <div class="row">
                <a href="" class="title"><h1>Overstats</h1></a>
                <searchbar class="search" [redirect]="true"></searchbar>
                <nav class="desktop">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="compare"> compare</a></li>
                        <li><a routerLink="api">api</a></li>
                        <li><a routerLink="portfolio">portfolio</a></li>
                    </ul>
                </nav>
        </div>
    </header>
    <section class="content">
            <div class="banner">
                <img src="public/img/banner.jpg" alt="">
            </div>
            <router-outlet></router-outlet>
    </section>
    <footer><a href="https://github.com/milandebuck">&copy;Milan De Buck - 2017</a></footer>
</div>