.wrapper-searchbar{
    width: 100%;
    z-index: 200;

    position: relative;
    max-height:2rem;
}
.wrapper-search{
    background-color:#c9c9c9;
    width: 100%;
    border-radius: 5px;
    font-size: 2rem;
}
.wrapper-search > input {
    background:none;
    color: #222222;
    border: none;
    width: 80%;
    padding: 0.5rem;
    padding-left: 1.5rem;
}
.wrapper-search > span{
    z-index: 200;
    text-align: right;
    float: right;
    padding: 1%;
    padding-top: 1rem;
    color: #222222;
}
.results{
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 2000;
    background-color: white;
}
.results li +li{
    border-top: 1px dashed #c7c7c7 ;
}
.searchbar-player{
    color: #222222;
    width: 100%;
    padding: 0.3rem;
    padding-left: 1rem;
}
.searchbar-player:hover{
    background-color: #c7c7c7;
    cursor: pointer;
}
.searchbar-player img{
    width: 4rem;
    height: 4rem;
}
.load-icon{
    color: white;
}