<div class="wrapper-searchbar clearfix">
    <div class="wrapper-search clearfix">
        <input type="text" placeholder="Search a player" (keyup)="search()" [(ngModel)] = query >
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div [ngSwitch]="loading" class="wrapper-result">
        <div *ngSwitchCase="false">
            <div class="results" *ngIf="players">
                <ul>
                    <li *ngFor="let player of players" class="searchbar-player" (click)="profile(player.username)">
                        <img src="{{player.avatar}}" alt="" onerror="this.src = 'https://blzgdapipro-a.akamaihd.net/game/unlocks/0x02500000000002F7.png'">
                        {{player.username}}
                    </li>
                </ul>
            </div>
        </div>
        <div *ngSwitchCase="true" class="result clearfix load-icon">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"/>
                </path>
            </svg>
        </div>
    </div>

</div>